$font-pixel: VGA9;
$test-border: 2px solid cyan;


/* VGA9 font is loaded in index.css, so it should never need a fallback */
.entity-name {
  font-family: $font-pixel, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.text-minor {
  font-size: 12px;
}

.entity-module {
  padding: 30px;
  border: $test-border;
  .entity-module-controls {
    display: flex;
    flex-direction: row;
    border: $test-border;
    justify-content: center;
    align-items: center;
  }
} 