//importing color variables
@import 'src/colors.scss';
$font-pixel: VGA9;
$inner-border: 0px solid cyan;
$outer-border: 0px solid #9e9e9e;


/* VGA9 font is loaded in index.css, so it should never need a fallback */
.entity-name {
  p {
    margin: 0;
    padding: 0;
    .held-name {
      color: $dgray;
      text-shadow: -2px 0 $black, 0 2px $black, 2px 0 $black, 0 -2px $black;
    }
  }
  .original {
    // min-height: 19px;
    font-family: $font-pixel, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin-bottom: 2px;
  }
  .translated {
    height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.entity-module {
  padding: 30px;
  border: $outer-border;
  .entity-module-controls {
    display: flex;
    flex-direction: row;
    border: $inner-border;
    justify-content: center;
    align-items: center;
    .button-entity-name {
      margin: 0 5px;
    }
  }
}