//importing color variables
@import '../../colors.scss';
$font-pixel: VGA9;
$inner-border: 0px solid cyan;
$outer-border: 0px solid #9e9e9e;


/* VGA9 font is loaded in index.css, so it should never need a fallback */
.footer-wrapper {
  border: 0;
  p {
      font-size: 0.75em;
      color: $lgray;
  }
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  .footer-link {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    color: $white;
    text-decoration: none;
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    margin-bottom: 2px;
    a {
      color: $blue;
      cursor: pointer;
    }
  }
}
